<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/40c5d73e0b.js" crossorigin="anonymous"></script>
    <title>HVACareTaker</title>
</head>
<body class="d-grid">
    <div class="container">
        <th:block th:replace="fragment/fragments :: common-header"></th:block>
        <main>
          <div class="text-center py-4 px-5">
              <div class="col-md-auto col-lg-12 mb-4 border-bottom">
                <h1>
                  HVACareTaker
                  <small class="text-muted"> - zarządzanie systemami HVAC</small>
                </h1>
                <p>Aplikacja do kompleksowego zarządzania budynkowymi systemami wentylacji, klimatyzacji i chłodnictwa. Umożliwia w wygodny sposób zarzadzanie bazą danych posiadanych urządzeń (wraz z ich szczegółowymi danymi technicznymi). Dodawanie nowych urządzeń, logi czynności serwisowych, automatyczne sprawdzanie aktualności terminów kontroli szczelności i przypominanie o zbliżających się terminach.
                </p>
              </div>
              <div class="container px-4 py-3 shadow rounded" id="icon-grid">
                <h3 class="pb-2 border-bottom">Funkcje aplikacji HVACareTaker</h3>
            
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
                  <div class="col d-flex align-items-start">
                    <div>
                      <h4 class="fw-bold mb-0">Dodawanie</h4>
                      <p>Swobodnie dodawaj do bazy nowe urządzenia</p>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div>
                      <h4 class="fw-bold mb-0">Aktualizacja danych</h4>
                      <p>W miarę potrzeb aktualizuj dane o urządzeniach</p>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div>
                      <h4 class="fw-bold mb-0">Czynności serwisowe</h4>
                      <p>W roli serwisanta dodawaj przeprowadzone czynności serwisowe do urządzenia</p>
                    </div>
                  </div>
                </div>
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
                    <div class="col d-flex align-items-start">
                      <div>
                        <h4 class="fw-bold mb-0">Kontrole szczelności</h4>
                        <p>Bądź na bieżąco z terminami wykonania kontroli szczelności</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <div>
                        <h4 class="fw-bold mb-0">Zestawienia urządzęń</h4>
                        <p>Generuj zestawienia posiadanych urządzeń</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <div>
                        <h4 class="fw-bold mb-0">Wyszukiwanie</h4>
                        <p>Wygodnie i szybko wyszukuj informacje o urządzeniach</p>
                      </div>
                    </div>
                  </div>
                  </div>
              </div>
        </main>
        <th:block th:replace="fragment/fragments :: common-footer-unfixed"></th:block>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>